/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.css
 */

h2 {
	text-align: center;
}

section {
	padding: 30px;
	width: 830px;
	overflow: hidden;
	border: 1px solid #000000;
}

article {
	margin-right: 38px;
	margin-left: 38px;
	width: 200px;
	height: 300px;
}

#facebook {
	background-color: #154eb8;
	float: left;
}

#instagram {
	background-color: #ab8934;
	float: left;
}

#twitter {
	background-color: #4eb5ff;
	float: left;
}

p {
	padding: 2px 10px;
	color: #ffffff;
}

#facebook p {
	font-family: 'Lato', sans-serif;
}

#instagram p {
	font-family: Arial, sans-serif;
}

#twitter p {
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

img {
	margin: 0 auto;
	margin-left: 75px;
}

#img-facebook {
	width: 51px;
	height: 50px;
	margin-top: 80px;
	background: url('imgs/social-media-icons-css-sprite.png') no-repeat -60px -62px;
}

#img-facebook:hover {
	background: url('imgs/social-media-icons-css-sprite.png') no-repeat -60px -5px;
}

#img-instagram {
	width: 51px;
	height: 50px;
	background: url('imgs/social-media-icons-css-sprite.png') no-repeat -117px -62px;
}

#img-instagram:hover {
	background: url('imgs/social-media-icons-css-sprite.png') no-repeat -117px -5px;
}

#img-twitter {
	width: 51px;
	height: 50px;
	margin-top: 48px;
	background: url('imgs/social-media-icons-css-sprite.png') no-repeat -3px -62px;
}

#img-twitter:hover {
	background: url('imgs/social-media-icons-css-sprite.png') no-repeat -3px -5px;
}
